In [2]:
# Importing the csv file 

import pandas as pd
sal = pd.read_csv('Salaries.csv')

In [98]:
# To check the head of the DataFrame. 

sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,title_len,TitleLength
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,46,46
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,31,31
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,31,31
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN,36,36
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,44,44

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [5]:
# To find the avergae of the base pay

sal['BasePay'].mean()

66325.44884050643

In [6]:
# To find the max of the overtimepay

sal['OvertimePay'].max()

245131.88

In [13]:
# To find the job title of a particular employee

sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [27]:
# To find the total paybenefit of a particular employee

sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [29]:
# To find the employee details of a person with max benefits

sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [31]:
sal.loc[sal['TotalPayBenefits'].argmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [33]:
# To find the employee details of a person with min benefits

sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [37]:
# To find the BasePay of the employee for every year

sal.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [42]:
# To find the unique job titles

sal['JobTitle'].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

In [44]:
# To find the number of unique job titles

sal['JobTitle'].nunique()

2159

In [47]:
# To find the top 5 valued jobs

sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [63]:
# To find the number of unique jobs in the year 2013

sum(sal[sal['Year']==2013]['JobTitle'].value_counts()==1)

202

In [71]:
# To find out if a job has a title containing the word 'Chief'

def str_title(JobTitle):
    if 'chief' in JobTitle.lower().split():
        return True
    else:
        return False

In [72]:
str_title('CHIEF POLICE OFFICER')

True

In [73]:
str_title('MANAGER METRO TRANSIT')

False

In [83]:
sum(sal['JobTitle'].apply(lambda x:str_title(x)))

477

In [84]:
sum(sal['JobTitle'].apply(str_title))

477

In [99]:
# To find the length of every JobTitle

sal['TitleLength'] = sal['JobTitle'].apply(len)

In [100]:
sal[['JobTitle','TitleLength']]

                                                JobTitle  TitleLength
0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY           46
1                        CAPTAIN III (POLICE DEPARTMENT)           31
2                        CAPTAIN III (POLICE DEPARTMENT)           31
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC           36
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)           44
5                              ASSISTANT DEPUTY CHIEF II           25
6                     BATTALION CHIEF, (FIRE DEPARTMENT)           34
7                         DEPUTY DIRECTOR OF INVESTMENTS           30
8                     BATTALION CHIEF, (FIRE DEPARTMENT)           34
9                 CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)           38
10      ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)           48
11                       CAPTAIN III (POLICE DEPARTMENT)           31
12                           EXECUTIVE CONTRACT EMPLOYEE           27
13                                     DEPARTMENT HEAD V           17
14                    BATTALION CHIEF, (FIRE DEPARTMENT)           34
15                    COMMANDER III, (POLICE DEPARTMENT)           34
16                                     DEPARTMENT HEAD V           17
17                 CAPTAIN, EMERGENCYCY MEDICAL SERVICES           37
18                    BATTALION CHIEF, (FIRE DEPARTMENT)           34
19                            ASSISTANT MEDICAL EXAMINER           26
20                            ASSISTANT MEDICAL EXAMINER           26
21                            ASSISTANT MEDICAL EXAMINER           26
22                             CAPTAIN, FIRE SUPPRESSION           25
23                    BATTALION CHIEF, (FIRE DEPARTMENT)           34
24                             CAPTAIN, FIRE SUPPRESSION           25
25                                       CHIEF OF POLICE           15
26                             CAPTAIN, FIRE SUPPRESSION           25
27                    BATTALION CHIEF, (FIRE DEPARTMENT)           34
28                  DEPUTY CHIEF III (POLICE DEPARTMENT)           36
29          DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)           44
...                                                  ...          ...
148624                                      Senior Clerk           12
148625                                  Registered Nurse           16
148626                                     Account Clerk           13
148627                                   General Laborer           15
148628                                   General Laborer           15
148629                                Transcriber Typist           18
148630                                         Carpenter            9
148631                       Communications Dispatcher 1           27
148632                        Protective Services Worker           26
148633                                   General Laborer           15
148634                               Transit Car Cleaner           19
148635                                   General Laborer           15
148636                               Arborist Technician           19
148637                            Transit Fare Inspector           22
148638                                       Electrician           11
148639                                         Custodian            9
148640                           Parking Control Officer           23
148641                                      Museum Guard           12
148642                                       Sign Worker           11
148643                           Parking Control Officer           23
148644                      Stationary Eng, Sewage Plant           28
148645                         Human Services Technician           25
148646                                      Not provided           12
148647                       Communications Dispatcher 2           27
148648                                         Custodian            9
148649                                         Custodian            9
148650                                      Not provided           12
148651                                      Not provided           12
148652                                      Not provided           12
148653                        Counselor, Log Cabin Ranch           26

[148654 rows x 2 columns]

In [97]:
sal[['TotalPay','TitleLength']].corr()

             TotalPay  TitleLength
TotalPay     1.000000    -0.015356
TitleLength -0.015356     1.000000